    body{
        border: 0 none;
        color: #000;
        font-family: arial;
        font-size: 14px;
        line-height: 16px;
        margin: 0;
        max-width: 100%;
        min-width: 100%;
        //width: 1200px;
        padding: 0;
        //margin: 0 auto;
    }
    .container-wrapper{
        width: 1200px;
        margin: 0 auto;

    }
    .container{
        width: 100%;
    }
    .navbar-header{

    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    min-width: min-content;
    }
    #mysearch2{
        border:none;
        width: 7%;
    }
    .ul-menu{
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li{
        display: inline-block;
    }
    li a {
    display: block;
    padding: 21px 0 0 33px;
    text-decoration: none;
    font-size: 13px;
    font-family: arial;
    color: #64829c;
}
.fa-caret-down:before {
    content: '\e809';
}
i.fa-caret-down, i.fa-caret-up {
    width: 10px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.contact{
    padding: 14px 0 0 67px;
}
.contact a{
    text-decoration: none;
    color: #b3b4b9;
    font-size: 13px;
    font-family: arial;
     padding: 13px 0 0 0px;
}
span.bar {
    padding: 0 10px;
    color: #b3b4b9;
}
span.contact-us{
    color: #b3b4b9;
    font-size: 13px;
    font-family: arial;
}
.image{
    padding: 10px 0 0 15px;
}
.banner-container{
    padding-top: 40px; 
    
}
.image2 {
    position: relative;
    top: -288px;
    left: 0;
}
.image3 {
    position: absolute;
    bottom: -15px;
    right: 84px;
}
span.sign{
    color: #64829c;
    padding: 0 33px;
}
h3{
    font-size: 16px;
    
}
.product-name{
    font size :12px;
    color -: #808080;
    text-align: center;
}


.star{
   background: url(images/star.jpg);
background-repeat:repeat;
background-position:center;
background-size: cover;
}
div #repeat-x {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/codepen.png);
     background-repeat: repeat-x;
     width: 50px;
      }
img.product2 {
    padding: 0 14px 0 14px;
}
img.product4 {
    padding: 0 0 0 14px;
}

p:last-child, .form-group:last-child, .panel:last-child {
    margin-bottom: 0;
}
.form-group {
    margin-bottom: 15px;
}
.latestPost-container .views-infinite-scroll-content-wrapper, .latestPost-container .block-also-like, .latestPost-container .view-archive, .latestPost-container .search_page, #block-views-block-latest-blog-post-block-1 .views-infinite-scroll-content-wrapper, #block-views-block-latest-blog-post-block-1 .block-also-like, #block-views-block-latest-blog-post-block-1 .view-archive, #block-views-block-latest-blog-post-block-1 .search_page, .region .views-infinite-scroll-content-wrapper, .region .block-also-like, .region .view-archive, .region .search_page, .path-archive .views-infinite-scroll-content-wrapper, .path-archive .block-also-like, .path-archive .view-archive, .path-archive .search_page, .path-search .views-infinite-scroll-content-wrapper, .path-search .block-also-like, .path-search .view-archive, .path-search .search_page {
    margin: 0 0 15px;
    display: inline-block;
    width: 100%;
}

p:last-child, .form-group:last-child, .panel:last-child {
    margin-bottom: 0;
}

.form-group {
    margin-bottom: 15px;
}

body div * {
    outline: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    
    